---
import Layout from '../layouts/Layout.astro';
import Hero from '@components/sections/Hero.astro';
import Content from '@components/sections/Content.astro';
import Section1Image from '@assets/images/joe.jpeg';
import Section2Image from '@assets/images/subjects.jpg';
import Section3Image from '@assets/images/details.jpg';
import * as index from './src/pages/index.md';

const metadata = {
  title: index.frontmatter.company,
  description: index.frontmatter.company_title,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <main>
    <Hero />
    <Content
      isReversed
      id="about"
      tagline=""
      title={index.frontmatter.company_whatis}
      subtitle={index.frontmatter.company_description}
      items={index.frontmatter.about_items}
      image={{
        src: Section1Image,
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          {index.frontmatter.about}
        </h3>
        {index.frontmatter.about_title}
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 dark:bg-transparent"></div>
      </Fragment>
    </Content>

    <!-- Subjects & Pricing -->
    <Content
      id="subjects"
      items={index.frontmatter.subjects_items}
      image={{
        src: Section2Image,
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{index.frontmatter.subjects}</h3>
         {index.frontmatter.subjects_title}
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 dark:bg-transparent"></div>
      </Fragment>
    </Content>

    <!-- Details -->
    <Content
      id="details"
      isReversed
      title=""
      items={index.frontmatter.details_items}
      image={{
        src: Section3Image,
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{index.frontmatter.details}</h3>
      </Fragment>
      <Fragment slot="bg">
        <div class="absolute inset-0 dark:bg-transparent"></div>
      </Fragment>
    </Content>
  </main>
</Layout>
